<MatThemeProvider Theme="@_hsfTheme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
        </NotFound>
    </Router>
</MatThemeProvider>

@code
{
    private readonly MatTheme _hsfTheme = new MatTheme()
    {
        Primary = "#0097a7",
        Secondary = "#00897b"
    };
}