@inject Toolbelt.Blazor.I18nText.I18nText I18nText
<MatThemeProvider Theme="@_hsfTheme">
    <MatToastContainer />
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>@_translator.app_err_address_not_found</p>
            </LayoutView>
        </NotFound>
    </Router>
</MatThemeProvider>

@code
{
    private readonly MatTheme _hsfTheme = new MatTheme()
    {
        Primary = "#0097a7",
        Secondary = "#00897b"
    };

    private I18nText.local _translator = new I18nText.local();

    protected override async Task OnInitializedAsync()
    {
        _translator = await I18nText.GetTextTableAsync<I18nText.local>(this);
    }
}